@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  max-width: 100%;
  height: 112px;
  gap: 0px;
  opacity: 0px;
}

.img-logo {
  position: absolute;
}

.header-1 {
  background-color: #131313;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.header-links-1 {
  padding-right: 102px;
}

.header-2 {
  background-color: #000000;
  height: 56px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-links-3 {
  color: #f4e721;
  display: flex;
  align-items: center;
}

.header-links-3 a {
  color: #f4e721;
}

.header-links-4 {
  color: #fff;
  border-left: 1px solid rgba(255, 255, 255, 0.12);
}

.header-separator {
  display: flex;
  align-items: center;
}

.icon-background {
  background-color: #f4e721;
  border-radius: 50%;
  padding: 10px;
  margin: 1rem;
}

.link {
  font-size: 12px;
}

.header {
  border-top: 1rem solid #f4e721;
}

section .preview {
  width: 678px;
  height: 60px;
  left: 380.94px;
}

.main {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.preview-div {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 20%,
    #000000 80%,
    #000000 100%
  );
}

section .preview p {
  color: #fff;
  font-family: Inter;
  font-size: 51.1px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
}

.preview-2 {
  display: flex;
  align-items: baseline;
}

.preview-text,
.fa-square {
  color: #f4e721;
}

.cards {
  height: 303.88px;
  padding: 4px 0px 10px 379px;
  gap: 8px;
  opacity: 0px;
  background: linear-gradient(
    180deg,
    #000000 0%,
    #000000 45%,
    #ccb91f 46%,
    #fae115 49%,
    #000000 100%
  );
}

.box-1 {
  width: Fixed (222px) px;
  height: auto;
  border-radius: 6px 6px 6px 6px;
  opacity: 0px;
  background: #0a0927;
  color: #fff;
}

.box-2 {
  background: #000000;
  width: Fixed (222px) px;
  height: Fixed (264.88px) px;
  gap: 20px;
  opacity: 0px;
  color: #fff;
}

.box-3 {
  background: #000000;
  width: Fixed (222px) px;
  height: Fixed (264.88px) px;
  gap: 20px;
  opacity: 0px;
  color: #fff;
}

.club {
  color: #f4e721;
}

.main-section {
  background: #000000;
}

.muranga-team {
  /* width: 1415px; */
  height: auto;
  background-color: #fff;
}

.timer {
  display: flex;
  align-items: center;
  font-size: 48px;
  font-weight: bold;
  color: #d4b413;
}
.timer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}
.timer span {
  font-size: 14px;
  color: #333;
}

.team-header-text p {
  font-family: Inter;
  font-size: 33.3px;
  font-weight: 400;
  line-height: 43.2px;
  text-align: left;
  background: linear-gradient(90deg, #000000 0%, #fdc52c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.next-match {
  font-family: Inter;
  font-size: 12.1px;
  font-style: italic;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  color: #222222;
}
#days,
#hours,
#minutes,
#seconds {
  font-family: Inter;
  font-size: 40.7px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  background: linear-gradient(90deg, #c8b416 0%, #fae115 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#time-days,
#time-hours,
#time-mins,
#time-seconds {
  font-family: Inter;
  font-size: 8.6px;
  font-weight: 400;
  line-height: 12px;
  color: #727272;
}

.team-header-calendar p {
  font-family: Inter;
  font-size: 12.8px;
  font-style: italic;
  font-weight: 400;
  line-height: 16.8px;
  color: #154284;
}

.arrow-icon i {
  font-size: 20px; /* Adjust size as needed */
  color: black;
  border: 1px solid #ccc; /* Border color for the circle */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px; /* Spacing between the icons */
  background-color: white; /* Circle background color */
  cursor: pointer;
  transition: color 0.3s ease;
}

.arrow-icon i:first-child {
  color: #888; /* Lighter color for the left arrow */
}

.arrow-icon i:hover {
  color: black; /* Darken color on hover */
}

.matches-1 {
  width: 350px;
  height: 305px;
}

.headline-match {
  width: 640px;
  height: 47px;
  background: #080e1f;
}

.team-button button {
  background: #fdc52c;
  color: #fff;
  width: 160px;
  height: 32px;
  border-radius: 3px 3px 3px 3px;
}

#text-1 {
  font-family: Inter;
  font-size: 8px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  color: #727272;
}

#text-2 {
  font-family: Inter;
  font-size: 39.4px;
  font-weight: 400;
  line-height: 58px;
  text-align: left;
  background: linear-gradient(90deg, #c8b416 0%, #fae115 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#text-3 {
  font-family: Inter;
  font-size: 16.7px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
}

#text-4 {
  font-family: Inter;
  font-size: 9.5px;
  font-weight: 400;
  line-height: 13.2px;
  text-align: left;
}

.headline-match-1 {
  width: 352px;
  height: 47px;
  background: #080e1f;
}

.ticket-header {
  font-family: Inter;
  font-size: 33.3px;
  font-weight: 400;
  line-height: 43.2px;
  background: linear-gradient(90deg, #c8b416 0%, #fae115 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.center-images {
  width: 65%;
  margin: 0 auto;
}

.ball-kit {
  box-shadow: 0px 0px 12px 0px #0000001a;
  width: 334px;
  height: 327.93px;
  border-radius: 8px 8px 8px 8px;
}

.store-image-1 {
  width: 334px;
  height: 131.93px;
}

#kit {
  font-family: Inter;
  font-size: 21.7px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #222222;
}

#kit-p {
  font-family: Inter;
  font-size: 13.7px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #727272;
}

.kit-shop {
  border: 1px solid #efefef;
}

.seal-box {
  width: 330px;
  height: 302.63px;
  gap: 13px;
  box-shadow: 0px 0px 12px 0px #0000001a;
  border-radius: 8px 8px 8px 8px;
}

.players {
  background: linear-gradient(247deg, #152efa 0%, #ebbd00 100%);
  height: 652px;
}

.footer-icons {
  height: 273px;
  margin-top: 8rem;
}

.footer-1 p {
  color: #c8b416;
  font-family: Inter;
  font-size: 10.7px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1px;
  text-align: left;
}

.footer-1 button {
  color: #fff;
  height: 32px;
  text-align: right;
  border-radius: 3px 3px 3px 3px;
  background: #fae115;
  font-size: 10.3px;
}

.image-icons {
  border-left: 1px solid #f4e721;
}

.contact p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.subscription-container {
  background-color: #ffd700; /* Bright yellow */
  padding: 20px;
  text-align: center;
  font-weight: bold;
  width: 1158px;
  font-size: 1.2em;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  color: #000;
}

.subscription-box {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 10px;
  background-color: #000;
}

.subscription-box input[type="email"] {
  padding: 10px;
  width: 300px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-size: 1em;
  color: #ffd700;
  background-color: #000; /* Black background for the input */
}

.subscription-box button {
  padding: 10px 20px;
  border: none;
  border-radius: 0 5px 5px 0;
  color: #000; /* Black background for the button */
  background-color: #ffd700; /* Bright yellow text */
  font-weight: bold;
  cursor: pointer;
}

.subscription-box button:hover {
  background-color: #333;
}

.menu a {
  color: #fae115;
  padding: 1rem;
}

.footer-links {
  margin-top: 3rem;
}

.footer-line {
  border: 2px solid #fae115;
  width: 1158px;
  margin: 0 auto;
}

.copyright {
  width: 1158px;
  margin: 2rem auto;
}

#info-1 {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #fae115;
}

#info-2 {
  font-family: Inter;
  font-size: 32px;
  font-weight: 900;
  line-height: 21px;
  text-align: left;
  color: #fae115;
}
